.menu {
    width: 100%;
    overflow: hidden;
    background: #C92C00;
}

.btn-menu
, .btn-search
, .btn-login{
    width: 7%;
    padding : 3%;
    float: left;
    color: white;
}
.btn-menu a:visited{ color : white;}
.btn-menu a:link{ color : white;}

.btn-search a:visited{ color : white;}
.btn-search a:link{ color : white;}

.btn-login a:visited{ color : white;}
.btn-login a:link{ color : white;}
.top-logo{
    width: 60%;
    float: left;
    text-align: center;
    padding-top:3%;
}
.top-logo a img{
    width: 50%;
    height: 50%;
}

#main-focus{
    width :100%;
}
.focus-image{width : 100%;}

.category{
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 2.5em;
    display: block;
    margin : 0 auto;
    padding: 3%;
    box-sizing: border-box;
}

.category span{
    padding : 1%;
}